<section class="section section-stats center">
    <div class="row">
        <div class="col s12 m6 l3">
            <div class="card-panel center">
                <i class="material-icons medium">supervisor_account</i>
                <h5>Employees</h5>
                <h3 class="count">350</h3>
                <div class="progress grey lighten-1">
                    <div class="determinate blue lighten-1" style="width: 10%;"></div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <a href="" class="btn blue lighten-1">Show Employees</a>                        
        </div>
        <div class="col s12 m6 l3">            
            <a href="/users/register" class="btn">Register Employee</a>    
        </div>
    </div>
</section>